.form-character {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-character input {
    width: 350px;
    margin: .5rem 0 .5rem 0;
    width: 640px;
    padding: 12px;
    background: #E3EAEF;
    border-radius: 8px;
    border: none;
    font-size: 13px;
}

.form-character button {
    font-size: 15px;
    margin-right: .5rem;
    margin-top: .5rem;
    margin-bottom: 1.3rem;
    width: 100px;

    background-color: #4CAF50;
    cursor: pointer;
    border: none;
    color: white;
    padding: 8px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.2s;
}

.form-character button:hover {
    transform: scale(1.1);
}
