* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* outline: 1px dotted red; */
}

body {
  background-color: #F7F9FC;
  color: #343A40;
  padding: 1rem;
}